About {
    display: block;
    width:90%;
    background:#fff;
    padding:0 1rem 1rem 1rem;
    margin:0 auto;
    margin-bottom:0;
    box-shadow: 2px 0 4px 1px rgba(0, 0, 0, 0.03); 
}
.About p {
    padding: 20px 50px;  
    margin: 0px 50px;  
}