PrivacyPolicy {
    display: block;
    width: 90%;
    background:#fff;
    margin: 0 auto;
    box-shadow: 2px 0 4px 1px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    min-height: calc(100vh - 120px);
}
.PrivacyPolicy p {
    padding: 10px 10px;  
    margin: 10px 20px; 
}

.columns {
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 100%; */
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
