header {
  padding:1rem 0rem;
  text-align: center;
  margin-top:0rem;
}

.header ul {
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  background-color: black;
  vertical-align:bottom;
  line-height:7.5rem;
  height:7.5rem;
  overflow: hidden;
}

.header li {
  display: inline-block;
  font-size: 1.75rem;
  margin: 1.25rem;
  vertical-align:bottom;
  line-height:normal;   
}

.header li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1.175rem;
  text-decoration: none;
}

.header li a:hover {
 color: #FAA3B5;
}

.header img {
  position:absolute;
  left:1.115rem;
  margin: 0rem 0.9375rem 0.9375rem 0rem;
  height: 6.25rem;
  width: 6.25rem;
    }
