header {
  padding:1rem 0;
  text-align: center;
  margin-top:0;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.header li {
  float: left;
  height: 55px;
  width: 100px;
  position: relative;
  padding: 1rem 1rem;
}

.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li:active {
  color: black;
  background-color: #61c985;
}

.header li a:hover {
 color: #61c985;
}

.header .logo {
        display: block;
        float: left;
        padding: 4px 3px;
    }

.header img {
    position: inherit;
    top:10px; 
    left:10px;
    width:60px;
    height:60px;
    overflow:hidden;
    padding: 1rem;
    float: left;
    }
