footer {
display:flex;
background-color: #5F4A8B;
color:#fff;
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 40px;
width: 100%;
justify-content:center;
align-items:center;
 }

.footer img {
    display: inline-block;
    height: 50px;
    width: 50px;
    }
